
.navbar{
  background-color: #2f2fa2;
  color: white;
}



.navbar-toggler{
  border: none;
}
#favouritesContainer {
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: max-content max-content;
  padding-right: 2em;
  padding-left: 2em;
  padding-top: 1em;
  
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

#searchbar {
  grid-row: 1;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 50%;
  justify-self: center;
}

#cardContainer {
  grid-row: 2;
}

#hiddenCard{
  display:none;
}

.favButton{
  width: 2.5rem;
  height: 2.5rem;
}

.btn{
  padding: 0;
  margin: 0;
  transition: none;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}


@media only screen and (max-width: 767px) {
  .card-img-top {
    width: 100%;
    height: 45vw;
    object-fit: cover;
  }
}