#favouritesContainer {
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: max-content max-content;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

#searchbar {
  grid-row: 1;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 50%;
  justify-self: center;
}

#cardContainer {
  grid-row: 2;
}

#hiddenCard{
  display:none;
}

@media only screen and (max-width: 750px) {
  .card-img-top {
    width: 100%;
    height: 45vw;
    object-fit: cover;
  }
}