#swipeContainer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: max-content max-content max-content;
  grid-row-gap: 5%;
}

.countContainer {
  grid-row: 1;
  padding-top: 1%;
  padding-bottom: 1%; 
  justify-self: center;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, max-content);
}

.likedRestaurants {
  grid-row: 1;
}

.counter {
  grid-row: 2;
}

.likedText {
  grid-row: 3;
  justify-self: center;
}

.card {
  justify-self: center;
  grid-row: 2;
}

.panel-body {
  justify-self: center;
  grid-row: 3;
}

